# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.expo-shared/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem
.AppleDouble
.LSOverride

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo
*.tsbuildinfo.*

# testing
coverage/
.nyc_output/

# generated native folders
/ios
/android

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Temporary files
*.tmp
.temp/
.cache/

# OS
Thumbs.db
